# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env.local
.env*.local

# expo
.expo/
dist/
web-build/
*.orig.*
apps/mobile/.expo/
apps/mobile/ios/
apps/mobile/android/

# native
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# server build
apps/server/dist/
apps/server/drizzle/meta/

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# misc
.DS_Store
*.tsbuildinfo
coverage/
.idea/
.vscode/
apps/mobile/build-*.ipa
